KEYCLOAK_PASSWORD= your_keycloak_password
KEYCLOAK_USERNAME= your_keycloak_username
JWK_SET_URI=your_Keycloak_url

DB_USERNAME= your_database_username
DB_DATABASE=your_database_name
MYSQL_ROOT_PASSWORD=your_database_password

GIT_USERNAME=your_github_username
GIT_PASSWORD=your_github_personal_access_token


